{% extends 'shop/base.html' %}

{% block title %} Product {% endblock %}

{% block breadcrumbs %}

    <li class="breadcrumb" style="margin-right: 30px;"><a href="{% url 'shop:category' product.category.id %}">{{ product.category.name }}</a></li>
    <li class="breadcrumb" style="margin-right: 30px;"><a href="{{ request.path }}">{{ product.name }}</a></li>
{% endblock %}


{% block body %}
    <h1>{{ product.name }}</h1>
    <p><a href="{% url 'shop:category' product.category.id %}">{{ product.category.name }}</a></p>
    <p>Description: {{ product.description }}</p>
    <p>Price: {{ product.price }} $</p>

{% if user.is_authenticated %}
        <form action="{% url 'shop:add_to_cart' product.id %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value= "Add to cart"/>
            <i class="fa-solid fa-cart-plus fa-2xl"></i>
        </form>
{% else %}
        <input type="submit" class="btn btn-danger" value= "To add to the shopping cart, register!"/>
{% endif %}

{% endblock %}
