{% extends 'shop/base.html' %}
{% block title %}Корзина{% endblock %}
{% block body %}
    <div class="container mt-4">
        <h2>Моя корзина</h2>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Продукт</th>
                <th scope="col">Цена</th>
                <th scope="col">Количество</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in entries %}
                <tr>
                    <td>
                        <a href="{% url 'shop:detail' entry.product.id %}">{{ entry.product.name }}</a>
                    </td>
                    <td>{{ entry.product.price }} руб.</td>
                    <td>
                        <
                    </td>
                    <td>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <p class="total">Сумма заказа: <span id="totalAmount" class="font-weight-bold">{{ total_amount }} руб.</span>
        </p>

    </div>
{% endblock %}
